{% extends 'base_template.html' %}

{% block content %}
    <h3>Olá, {{ nome }}!</h3>
    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Completo</th>
        </tr>
        </thead>
        <tbody>
        {% for tarefa in tarefas %}
            <tr>
                <td>{{ tarefa.nome }}</td>
                <td>{{ tarefa.descricao }}</td>
                <td>{{ tarefa.completo }}</td>
                <td>{{ tarefa.data_criacao }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'tarefas_adicionar' %}">Adicionar tarefa</a>
{% endblock %}
